

body {
    display: grid;
    grid-template-rows: 15vh 65vh 20vh;
    row-gap: 5px;
}

header {
    background-color: red;
    width: 100%;

}

main {
    background-color: orange;
    width: 100%;
    align-items: center;
}

footer {
    background-color: greenyellow;
    width: 100%;
}

header:hover {
    transition: background-color 1s ease-in-out;
    background-color: grey;
    
    
}
header:hover {
    transition: width 1s ease-in-out;
    width: 50%;
    
    
}
main:hover {
    transition: background-color 1s ease-in-out;
    background-color: rgb(82, 14, 240);
    
}
main:hover {
    transition: width 1s ease-in-out;
    width: 50%;
    text-align: center;
    
    
}
footer:hover {
    transition: background-color 1s ease-in-out;
    background-color: rgb(238, 13, 32);
   
}
footer:hover {
    transition: width 1s ease-in-out;
    width: 50%;
    
    
}
div {
    align-items: center;
    width: 50%;

}
p {
    font-size: 2em;

    text-align: center;
}

@keyframes textanimation {
    0% {
        font-size: em;
        background-color: aquamarine;
    }
    50% {
        font-size: 5em;
        background-color: blue;
    }
    100% {
        font-size: 3em;
        background-color: greenyellow;
    }
}

#animate:hover {
    animation: textanimation 5s ease-in-out 5 alternate;
}
